.basket {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 55px;
  }

  &__bread {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__link {
display: flex;
align-items: center;
gap: 5px;
    color: #000;


  }

}
