.breadcrumbs {
  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */

    letter-spacing: 0.03em;

    color: #000000;

  }

  &__items {
    margin-top: 20px;
    display: flex;
    align-items: center;

  }

  &__item {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;

    a {
      color: #000;
    }

    &:not(:first-child)::before {
      content: "/";
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
