.footer {
  padding-top: 35px;
  height: 310px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__contacts {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */


    color: #000000;
  }

  &__phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;
    /* identical to box height, or 91px */


    color: #000000;
  }

  &__social {
    display: flex;
    gap: 20px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      color: #000000;

      svg {
        width: 44px;
        height: 44px;
      }


    }
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */


    color: #000000;
  }

  &__address {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    /* or 52px */


    color: #000000;
  }

  &__workTime {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 23px */


    color: #000000;

    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */


      color: #000000;

    }
  }

}
