// Пример подключения меню бургера
// .burger {
//   @include burger;
// }
.header {
  &__container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;

  }

  &__row {
    display: flex;
    align-items: center;

    &--gap {
      gap: 190px;

    }

  }

  &__logo {
    margin-right: 40px;
    cursor: pointer;
  }

  &__btn {
    margin-right: 10px;
    width: 161px;
    height: 49px;
    background: var(--pink-color);
    border: 2px solid var(--pink-color);
    border-radius: 5px;
    color: var(--light-color);

    &:hover {
      background-color: var(--hover);
      border: 2px solid var(--hover);
    }
  }

  &__input {
    margin-right: 115px;
    padding: 0 15px 5px 20px;
    width: 443px;
    height: 49px;
    border: 2px solid #A9A9A9;
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      width: 100%;
      height: 100%;
      margin-top: 3px;
      outline: 0;
      outline-offset: 0;

    }
  }

  &__items {
    margin-right: 40px;
    width: 509px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  &__item {
    cursor: pointer;



    &:hover {
      color: var(--pink-color);
    }
  }

  &__basket {
    cursor: pointer;

    svg {
      fill: black;

      &:hover {
        fill: var(--pink-color);
      }
    }
  }

  &__categories-items {
    display: flex;
    gap: 40px;


  }
 &__categories {
  margin-right: 30px;
 }
  &__categories-item {
    a {
      font-size: 18px;
    }

    a:hover {
      color: var(--pink-color);
    }
  }



  &__contact {
    display: flex;
  }

  &__socials {
    margin-right: 40px;
    display: flex;
    gap: 20px;

    svg {
      fill: black;
    }

    svg:hover {
      fill: var(--pink-color);
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-right: 26px;
    font-size: 16px;

    &:hover {
      color: var(--pink-color);
    }

    &::before {
      content: "";
      margin-right: 5px;
      width: 10px;
      height: 10px;
      background-image: url("../img/header/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__work {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;

    &-item {
      font-weight: 500;
      font-size: 12px;


    }
  }
}
