<section class="catigories">
  <div class="container catigories__container">


    <div class="section__title">
      <span class="section__title-name">
        Популярные категории
      </span>
      <a href="#" class="section__title-btn">смотреть всё</a>
    </div>

    
    <div class="catigories__items">
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">Баблобоксы</a>
      </div>
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">Фонтаны с цифрами</a>
      </div>
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">Готовые композиции</a>
      </div>
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">Шарики, наборы, оформление
          комнаты на выписку</a>
      </div>
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item2.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">Латексные шары</a>
      </div>
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item2.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">Шарики на день рождения</a>
      </div>
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item2.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">Фольгированые шары</a>
      </div>
      <div class="catigories__item">
        <div class="catigories__item-img">
          <img src="img/catigories/item2.jpg" alt="">
        </div>
        <a href="#" class="catigories__item-title">3D Сферы, Bubble</a>
      </div>


    </div>
  </div>
</section>
