<section class="leaders">
  <div class="container leaders__container">
    <div class="section__title">
      <span class="section__title-name">
        Лидеры продаж
      </span>
      <a href="#" class="section__title-btn">показать всё</a>
    </div>
    <ul class="leaders__items list-reset">
      <li class="leaders__item">
        <div class="leaders__item-img">
          <img src="img/leaders/leaders__item-img.jpg" alt="">
        </div>
        <div class="leaders__item-price">
          1450p
          <del>1540p</del>
          <span>-7%</span>
        </div>
        <div class="leaders__item-descr">
          Композиция шаров на день
          рождения
        </div>
      </li>
      <li class="leaders__item">
        <div class="leaders__item-img">
          <img src="img/leaders/leaders__item-img.jpg" alt="">
        </div>
        <div class="leaders__item-price">
          1450p
          <del>1540p</del>
          <span>-7%</span>
        </div>
        <div class="leaders__item-descr">
          Композиция шаров на день
          рождения
        </div>
      </li>
      <li class="leaders__item">
        <div class="leaders__item-img">
          <img src="img/leaders/leaders__item-img.jpg" alt="">
        </div>
        <div class="leaders__item-price">
          1450p
          <del>1540p</del>
          <span>-7%</span>
        </div>
        <div class="leaders__item-descr">
          Композиция шаров на день
          рождения
        </div>
      </li>
      <li class="leaders__item">
        <div class="leaders__item-img">
          <img src="img/leaders/leaders__item-img.jpg" alt="">
        </div>
        <div class="leaders__item-price">
          1450p
          <del>1540p</del>
          <span>-7%</span>
        </div>
        <div class="leaders__item-descr">
          Композиция шаров на день
          рождения
        </div>
      </li>

    </ul>
  </div>
</section>
