<section class="works">
  <div class="container works__container">
    <div class="section__title">
      <span class="section__title-name">
        Наши работы
      </span>

    </div>
    <div class="works__slider">
      <div class="works__slider-wrapper">
        <div class="works__slider-inner">
          <div class="works__slide">
            <img src="img/works/works__slide1.jpg" alt="">
          </div>
          <div class="works__slide">
            <img src="img/works/works__slide1.jpg" alt="">
          </div>
          <div class="works__slide">
            <img src="img/works/works__slide1.jpg" alt="">
          </div>
          <div class="works__slide">
            <img src="img/works/works__slide1.jpg" alt="">
          </div>
          <div class="works__slide">
            <img src="img/works/works__slide1.jpg" alt="">
          </div>
          <div class="works__slide">
            <img src="img/works/works__slide1.jpg" alt="">
          </div>
          <div class="works__slide">
            <img src="img/works/works__slide1.jpg" alt="">
          </div>

        </div>

      </div>
      <div class="slider__arrow" style="
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      ">
        <img src="img/works/slider__arrow.svg" alt="">
      </div>
    </div>
  </div>
</section>
